# /etc/cron.d/graylog2: crontab fragment for graylog2

# Send stream alarms and subscriptions every 15 minutes
*/15 * * * * root cd <%= glBasePath %>/web && /opt/rbenv/shims/bundle exec /opt/rbenv/shims/rake streamalarms:send RAILS_ENV=production && /opt/rbenv/shims/bundle exec /opt/rbenv/shims/rake subscriptions:send RAILS_ENV=production
