production:
  database: graylog2
<% if mongodb_replicaset == '' -%>
  host: <%= mongodb_host %>
  port: <%= mongodb_port %>
<% else -%>
  hosts:
<% mongodb_replicaset.split(',').each do |host| -%>
    - - <%= host.split(':').first %>
      - <%= host.split(':').last %>
<% end -%>
  read_secondary: true
<% end -%>
<% unless mongodb_password == '' -%>
  username: <%= mongodb_username %>
  password: <%= mongodb_password %>
<% end -%>
