upstream graylog2-web {
  server unix:<%= glBasePath %>/web/tmp/thin.0.sock fail_timeout=0;
}

server {
    server_name _ localhost;

    # Location of our static files
    root <%= glBasePath %>/web/public;

    location / {
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header Host $http_host;
      proxy_redirect off;

      # If you don't find the filename in the static files
      # Then request it from the unicorn server
      if (!-f $request_filename) {
        proxy_pass http://graylog2-web;
        break;
      }
    }

    error_page 500 502 503 504 /500.html;
    location = /500.html {
      root  <%= glBasePath %>/web/public;
    }
}

