---
chdir: <%= glBasePath %>/web 
environment: production
timeout: 30
log: log/thin.log
pid: tmp/pids/thin.pid
max_conns: 64
max_persistent_conns: 24
require: []
socket: tmp/thin.sock
wait: 30
servers: 1
daemonize: true
